#topmost_bar {
	background-color:#363636;
	height:26px;
	padding:5px;
	text-align:left;
	color:white;
	font-weight:bold;
}
.stories_container {
    background-color:#006699;
    width:350px;
    float:left;
    color:#282828;
    padding:2px;
    margin:3px;
}
.stories_container_current_sprint {
    background-color:#ffffff;
    width:880px;
		height:600px;
    float:left;
    color:#282828;
    padding:2px;
    margin:3px;
		text-align:left;
}
.story {
		cursor:pointer;
    background-color:#EBEBEB;
    width:340px;
    padding:4px;
    margin:2px;
    text-align:left;
}
.story_current_sprint {
		cursor:pointer;
    background-color:#EBEBEB;
    width:99%;
		height:40px;
    padding:4px;
    margin:2px;
    text-align:left;
		font-size:16px;
}
#new_story {
    background-color:#006699;
    width:870px;
    height:110px;
    padding:2px 2px 2px 10px;
		margin:3px;
		float:left;
		text-align:left;
}
#quick_stats {
    background-color:#ffffff;
    width:340px;
    height:100px;
    padding:6px;
		margin:3px;
    float:left;
		text-align:left;
}
.new_story_input {
    height:40px;
    width:780px;
    font-size:18px;
}
.story_details {
    text-align:left;
    background-color:#EEE9E9;
    display:none;
    padding:5px;
}