.stories_container {
    background-color:#006699;
    width:400px;
    float:left;
    color:#282828;
    padding:5px;
    margin:5px;
}
.stories_container_green {
    background-color:#99FF00;
    width:400px;
    float:left;
    color:#282828;
    padding:5px;
    margin:5px;
}
.story {
    background-color:#ffffff;
    width:390px;
    padding:4px;
    margin:2px;
    text-align:left;
}
#new_story {
    background-color:#006699;
    width:900px;
    height:110px;
    padding:4px;
		margin:6px;
		float:left;
}
#quick_stats {
    background-color:#B8B8B8;
    width:320px;
    height:110px;
    padding:4px;
		margin:6px;
    float:left;
		text-align:left;
}
.new_story_input {
    height:40px;
    width:800px;
    font-size:18px;
}
.story_details {
    text-align:left;
    background-color:#EEE9E9;
    display:none;
    padding:5px;
}