
<div style="float:left; padding:6px; font-size:22px;"><%= link_to 'Back', root_url %></div>

<strong style="font-size:22px; padding:6px;">Past Sprints</strong>
<div class="stories_container_previous_sprint">
    <%= render(:partial => "section", :collection => @sections) %>
</div>
