
<strong style="font-size:16px;">This Sprint..</strong>
<span style="float:right;"><strong>Points Left</strong>:&nbsp;
    <%= total_points_left(quick_stats) %></span>
<br /><br />
<strong>Blocked Items</strong>:&nbsp;
<span style="color:red;"><%= total_blocked(quick_stats) %></span>
<br />
<strong>Ready For QA</strong>:&nbsp;
<span style="color:green;"><%= total_ready_for_qa(quick_stats) %></span>
