<style type="text/css" media="screen">
#icebox {
    background-color:#99FFFF;
    width:400px;
    float:left;
    color:#282828;
    padding:5px;
    margin:5px;
}
#backlog {
    background-color:#99FFFF;
    width:400px;
    float:left;
    color:#282828;
    padding:5px;
    margin:5px;
}
.story {
    background-color:#ffffff;
    width:390px;
    padding:4px;
    margin:2px;
    text-align:left;
}
#new_story {
    background-color:#99FFFF;
    width:900px;
    clear:both;
    height:110px;
    padding:4px;    
}
.new_story_input {
    height:40px;
    width:800px;
    font-size:18px;
}
.story_details {
    text-align:left;
    background-color:yellow;
    display:none;
    padding:5px;
}
</style>

<script type="text/javascript" charset="utf-8">
function toggle_story_details(div_id)
{
    target = document.getElementById(div_id);

    if (target.style.display == '')
        target.style.display = 'block';
    else
        target.style.display = '';
    end    
}
</script>
<div align="center">
    <div id="new_story">
        <h2>What needs to get done?</h2>
        <% form_tag("/stories", :method => "post") do %>
            <input class="new_story_input" type="text" name="title">&nbsp;
            <%= submit_tag("Save") %>
        <% end %>    
    </div>
</div>

<p><br />

<div id="backlog">
    <h2>Backlog</h2>
    <%= render(:partial => "story", :collection => @stories_backlog) %>
</div>

<div id="icebox">
    <h2>Icebox</h2>
    <%= render(:partial => "story", :collection => @stories_icebox) %>
</div>
